<article>
  <div class="title row col-lg-8">
    <h2>Welcome to Onjidou!</h2>
    <i>Created by: Yannick Willems, 2128086</i>
  </div>

  <div class="about">
    <div class="row col-lg-8">
      <p>
        Onjidou will be an app where users can create and manage translations to
        the lyrics of songs, to help them study various languages. Users will be
        able to add songs and their lyrics, and be able to add multiple
        translations or transcriptions so they can be read in tandem with the
        original text. <br />For example:
      </p>
    </div>

    <div class="chinese-examples row">
      <div class="example col-lg-4 col-xs-12">
        <h6 class="example-header">Mandarin Chinese with Pinyin:</h6>
        <div class="transcription">
          <span>yīnyuè</span>
        </div>
        <div class="original">
          <span>音乐</span>
        </div>
      </div>

      <div class="example col-lg-4 col-xs-12">
        <h6 class="example-header">Mandarin Chinese with Zhuyin/Bopomofo:</h6>
        <div class="transcription">
          <span>ㄧㄣㄩㄝˋ</span>
        </div>
        <div class="original">
          <span>音乐</span>
        </div>
      </div>

      <div class="example col-lg-4 col-xs-12">
        <h6 class="example-header">Mandarin Chinese with Pinyin and Zhuyin:</h6>
        <div class="transcription">
          <span>yīnyuè</span>
        </div>
        <div class="transcription">
          <span>ㄧㄣㄩㄝˋ</span>
        </div>
        <div class="original">
          <span>音乐</span>
        </div>
      </div>
    </div>

    <hr />

    <div class="japanese-examples row">
      <div class="example col-lg-4 col-xs-12">
        <h6 class="example-header">Japanese with Romaji:</h6>
        <div class="transcription">
          <span>ongaku</span>
        </div>
        <div class="original">
          <span>音楽</span>
        </div>
      </div>

      <div class="example col-lg-4 col-cs-12">
        <h6 class="example-header">Japanese with Hiragana:</h6>
        <div class="transcription">
          <span>おんがく</span>
        </div>
        <div class="original">
          <span>音楽</span>
        </div>
      </div>

      <div class="example col-lg-4 col-xs-12">
        <h6 class="example-header">Japanese with both Hiragana and Romaji:</h6>
        <div class="transcription">
          <span>ongaku</span>
        </div>
        <div class="transcription">
          <span>おんがく</span>
        </div>
        <div class="original">
          <span>音楽</span>
        </div>
      </div>
    </div>
  </div>

  <div class="entities">
    <h4>Entities</h4>
    <p>
      These are the entities and their properties that will be implemented in
      this app:
    </p>

    <h5>Current entities:</h5>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <h6 class="entity-header">User</h6>
        <ul>
          <li>ID</li>
          <li>First name</li>
          <li>Last name</li>
          <li>Gender</li>
          <li>Username</li>
          <li>E-mail</li>
          <li>Birthdate</li>
          <li>Password</li>
          <li>Songs</li>
          <li>Transcriptions</li>
          <li>...</li>
        </ul>
      </div>
    </div>
    <h5>Future entities:</h5>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <h6 class="entity-header">Songs</h6>
        <ul>
          <li>ID</li>
          <li>Title</li>
          <li>Artist</li>
          <li>Album</li>
          <li>Original language</li>
          <li>Songtext</li>
          <li>Transcriptions</li>
          <li>Genre</li>
          <li>Release date</li>
          <li>Date added</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <h6 class="entity-header">Transcriptions</h6>
        <ul>
          <li>ID</li>
          <li>Method</li>
          <li>isTranslation</li>
          <li>Text</li>
          <li>Date created</li>
          <li>...</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <h6 class="entity-header">Artists</h6>
        <ul>
          <li>ID</li>
          <li>Name</li>
          <li>Songs</li>
          <li>Albums</li>
          <li>Date added</li>
          <li>...</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <h6 class="entity-header">Albums</h6>
        <ul>
          <li>ID</li>
          <li>Name</li>
          <li>Songs</li>
          <li>Genre</li>
          <li>Release date</li>
          <li>Date added</li>
          <li>...</li>
        </ul>
      </div>
    </div>

    <h5>ERD (v1)</h5>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/CSWPI ERD v1.png" width="100%" />
      </div>
    </div>
  </div>
</article>
