<footer class="fixed-bottom bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/Ker0h/cswf-individueel-project"
        target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
      <!-- Personal website-->
      <a
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="http://ywillems.nl"
        target="_blank"
        role="button"
        ><i class="fas fa-user-graduate"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Built using:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
